@use "../abstracts/variables" as *;

@mixin flex-center(
  $justify: center,
  $align: center,
  $direction: null,
  $gap: null
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin flex-column($gap: null) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin respond-to($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}
