// breakpoints
$md: 768px;
$lg: 1024px;
$xl: 1440px;

// colors
$color-white: #ffffff;
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-badge-text: #004231;
$bg-localisation: #eaeaea;
$bg-grey: #f6f6f6;
$color-grey: #7e7e7e;
$bg-dark: #353535;
$gradient-primary: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
$shadow-button: 0px 4px 10px rgba(0, 0, 0, 0.25);
$shadow-location: 0px 4px 4px rgba(0, 0, 0, 0.25);
$shadow-header: 0px 2px 4px rgba(0, 0, 0, 0.15);
$shadow-step: 0px 4px 15px rgba(0, 0, 0, 0.15);
$shadow-card: 0px 4px 15px rgba(0, 0, 0, 0.1);
$shadow-dish: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);

// typography
$ff-shrikhand: "Shrikhand", sans-serif;
$ff-roboto: "Roboto", sans-serif;
$fs-logo-main: 30px;
$fs-localisation: 16px;
$fs-title: 24px;
$fs-subtitle: 18px;
$fs-card-title: 18px;
$fs-card-subtitle: 17px;
$dish-section-title: 16px;
$fs-dish-title: 18px;
$fs-dish-subtitle: 15px;
$fs-dish-price: 15px;
$fs-footer-logo: 18px;
$fs-footer-list: 16px;
$fs-badge: 14px;
$fs-step: 16px;
$fs-step-number: 14px;
$fs-button: 16px;
$fs-loc-icon: 12px;
$fs-step-icon: 13px;
$fs-heart-icon: 22px;
$fs-footer-icon: 11px;
$fs-check-icon: 20px;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

// radius
$radius-button: 25px;
$radius-number: 100%;
$radius-step: 20px;
$radius-card: 15px;
$radius-page: 40px;
$radius-dish: 15px;
