// breakpoints
$md: 768px;
$lg: 1024px;
$xl: 1440px;

// colors
$color-white: #ffffff;
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-badge-text: #004231;
$bg-localisation: #eaeaea;
$bg-grey: #f6f6f6;
$color-grey: #7e7e7e;
$bg-dark: #353535;
$gradient-primary: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
$shadow-button: 0px 4px 10px rgba(0, 0, 0, 0.25);
$shadow-location: 0px 4px 4px rgba(0, 0, 0, 0.25);
$shadow-header: 0px 2px 4px rgba(0, 0, 0, 0.15);
$shadow-step: 0px 4px 15px rgba(0, 0, 0, 0.15);
$shadow-card: 0px 4px 15px rgba(0, 0, 0, 0.1);
$shadow-dish: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
$shadow-button-hover: 0px 8px 15px rgba(0, 0, 0, 0.25);

// typography
$ff-shrikhand: "Shrikhand", sans-serif;
$ff-roboto: "Roboto", sans-serif;
$fs-logo-main: 1.875rem;
$fs-localisation: 1rem;
$fs-title: 1.5rem;
$fs-subtitle: 1.125rem;
$fs-card-title: 1.125rem;
$fs-card-subtitle: 1.0625rem;
$fs-menu-title: 1.75rem;
$fs-menu-section-title: 1rem;
$fs-dish-title: 1.125rem;
$fs-dish-subtitle: 0.9375rem;
$fs-dish-price: 0.9375rem;
$fs-footer-logo: 1.125rem;
$fs-badge: 0.875rem;
$fs-step: 1rem;
$fs-step-number: 0.875rem;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

// radius
$radius-button: 25px;
$radius-number: 100%;
$radius-step: 20px;
$radius-card: 15px;
$radius-page: 40px 40px 0 0;
$radius-dish: 15px;
