@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header {
  min-height: 63px;
  @include flex-center;
  box-shadow: $shadow-header;
  position: relative;
  z-index: 1;
  padding: 20px 0 13px 0;
}
