@use "../abstracts/variables" as *;

.dish {
  background-color: $color-white;
  border-radius: $radius-dish;
  box-shadow: $shadow-dish;
  display: flex;
  position: relative;
  animation: dish 1s backwards;

  &__content {
    padding: 0.9375rem;
    width: 100%;
    min-width: 0;
  }

  &__title {
    font-size: $fs-dish-title;
    font-weight: $fw-medium;
    padding-bottom: 0.375rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__details {
    display: flex;
    justify-content: space-between;
  }

  &__subtitle {
    min-width: 0;
    font-size: $fs-dish-subtitle;
    font-weight: $fw-light;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__price {
    font-size: $fs-dish-price;
    font-weight: $fw-bold;
  }

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(../images/icons/check-circle.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 25px;
    right: -20px;
    transition: 1s ease;
    opacity: 0;
  }

  &:hover::before {
    right: 20px;
    opacity: 1;
    rotate: -360deg;
  }

  &::after {
    content: "";
    width: 0;
    height: 69px;
    background-color: $color-tertiary;
    border-radius: $radius-check;
    transition: 1s ease;
  }

  &:hover::after {
    width: 69px;
  }
}

@for $i from 1 through 10 {
  .menu__item:nth-child(#{$i}) .dish {
    animation-delay: $i * 0.1s;
  }
}

@keyframes dish {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
