@use "../abstracts/variables" as *;

.dish {
  background-color: $color-white;
  padding: 0.9375rem;
  border-radius: $radius-dish;
  box-shadow: $shadow-dish;

  &__title {
    font-size: $fs-dish-title;
    font-weight: $fw-medium;
    padding-bottom: 0.375rem;
  }

  &__details {
    display: flex;
    justify-content: space-between;
  }

  &__subtitle {
    font-size: $fs-dish-subtitle;
    font-weight: $fw-light;
  }

  &__price {
    font-size: $fs-dish-price;
    font-weight: $fw-bold;
  }
}
