@use "../abstracts/variables" as *;

body {
  font-family: $ff-roboto;
}

.header__logo,
.footer__logo {
  font-family: $ff-shrikhand;
}

.header__logo {
  font-size: clamp(
    $fs-logo-main,
    calc(1.698rem + 0.754vw),
    $fs-logo-main-desktop
  );
}

.footer__logo {
  font-size: $fs-footer-logo;
  color: $color-white;
}
