*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
svg {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
  font-size: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  min-height: 100dvh;
  line-height: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.header__logo,
.footer__logo {
  font-family: "Shrikhand", sans-serif;
}

.header__logo {
  font-size: 30px;
}

.footer__logo {
  font-size: 18px;
  color: #ffffff;
}

.button {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  color: #ffffff;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  min-height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 1;
}

.location {
  background-color: #eaeaea;
  min-height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.hero {
  min-height: 340px;
  background-color: #f6f6f6;
}
.hero__container {
  padding: 40px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}
.hero__heading {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.hero__title {
  font-size: 24px;
  font-weight: 700;
  width: 275px;
}
.hero__subtitle {
  font-size: 18px;
  font-weight: 300;
}

.how-it-works {
  background-color: #ffffff;
  padding: 50px 20px 65px 20px;
}
.how-it-works__title {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 25px;
}
.how-it-works__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 25px;
  list-style: none;
  counter-reset: steps;
}
.how-it-works__item {
  width: 322px;
  background-color: #f6f6f6;
  min-height: 72px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  gap: 30px;
  padding-left: 40px;
  position: relative;
}
.how-it-works__text {
  font-weight: 500;
}
.how-it-works__item::before {
  content: counter(steps);
  counter-increment: steps;
  background-color: #9356dc;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12px;
}

/*# sourceMappingURL=style.css.map */
