@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.location {
  background-color: $bg-localisation;
  min-height: 50px;
  box-shadow: $shadow-location;
  font-weight: $fw-medium;
  color: $bg-dark;
  @include flex-center;
  gap: 15px;
}

.hero {
  min-height: 340px;
  background-color: $bg-grey;

  &__container {
    padding: 40px 0 0 0;
    @include flex-center($justify: null);
    flex-direction: column;
    gap: 35px;
  }

  &__heading {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    font-size: $fs-title;
    font-weight: $fw-bold;
    width: 275px;
  }

  &__subtitle {
    font-size: $fs-subtitle;
    font-weight: $fw-light;
  }
}
