@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.how-it-works {
  background-color: $color-white;
  padding: 3.2rem 1.25rem 4.0625rem 1.25rem;

  @include respond-to($lg) {
    padding: 2.5rem 1.7rem;

    @include respond-to($xl) {
      padding: 3.12rem 1.7rem;
    }
  }

  &__container {
    max-width: 1053px;
    margin: 0 auto;
  }

  &__title {
    font-size: $fs-title;
    font-weight: $fw-bold;
    padding-bottom: 1.875rem;

    @include respond-to($xl) {
      margin-left: -14px;
    }
  }

  &__list {
    @include flex-center(
      $direction: column,
      $justify: null,
      $align: center,
      $gap: 1.5625rem
    );
    list-style: none;
    counter-reset: steps;

    @include respond-to($md) {
      flex-direction: row;
      gap: null;
    }

    @include respond-to($xl) {
      margin-left: -8px;
    }
  }

  &__item {
    max-width: 322px;
    width: 100%;
    background-color: $bg-grey;
    min-height: 72px;
    border-radius: $radius-step;
    box-shadow: $shadow-step;
    @include flex-center($justify: null, $gap: 1.875rem);
    padding-left: 2.5rem;
    position: relative;

    @include respond-to($md) {
      padding-left: 1.5rem;
      gap: 0.5rem;
    }

    @include respond-to($lg) {
      padding-left: 2.5rem;
      gap: 1.875rem;
    }
  }

  &__icon {
    fill: $color-grey;
  }

  &__icon--purple {
    fill: $color-primary;
  }

  &__text {
    font-weight: $fw-medium;
    text-align: left;
  }

  &__item::before {
    content: counter(steps);
    counter-increment: steps;
    background-color: $color-primary;
    color: $color-white;
    font-weight: $fw-medium;
    font-size: $fs-step-number;
    width: 24px;
    height: 24px;
    border-radius: $radius-number;
    @include flex-center;
    position: absolute;
    left: -7px;
    top: 28px;
  }
}
