@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.how-it-works {
  background-color: $color-white;
  padding: 3rem 1.25rem 4.0625rem 1.25rem;

  &__title {
    font-size: $fs-title;
    font-weight: $fw-bold;
    padding-bottom: 1.875rem;
  }

  &__list {
    @include flex-center(
      $direction: column,
      $justify: null,
      $align: flex-end,
      $gap: 1.5625rem
    );
    list-style: none;
    counter-reset: steps;
  }

  &__item {
    width: 322px;
    background-color: $bg-grey;
    min-height: 72px;
    border-radius: $radius-step;
    box-shadow: $shadow-step;
    @include flex-center($justify: null, $gap: 1.875rem);
    padding-left: 2.5rem;
    position: relative;
  }

  &__icon {
    fill: $color-grey;
  }

  &__icon--purple {
    fill: $color-primary;
  }

  &__text {
    font-weight: $fw-medium;
    text-align: left;
  }

  &__item::before {
    content: counter(steps);
    counter-increment: steps;
    background-color: $color-primary;
    color: $color-white;
    font-weight: $fw-medium;
    font-size: $fs-step-number;
    width: 24px;
    height: 24px;
    border-radius: $radius-number;
    @include flex-center;
    position: absolute;
    left: -12px;
  }
}
