@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.loader {
  font-family: $ff-shrikhand;
  font-size: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-white;
  z-index: 100;
  animation: loader-finish 3s ease forwards;

  &__letter {
    background: $gradient-primary;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    padding: 0 30px;
    margin: 0 -30px;
    animation: loader 0.3s ease-in;
  }
}

@keyframes loader-finish {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@for $i from 1 through 8 {
  .loader__letter:nth-child(#{$i}) {
    animation-delay: $i * 0.1s;
  }
}

@keyframes loader {
  0% {
    transform: rotate(90deg);
  }
  25% {
    transform: scale(2);
  }
  50% {
    transform: scale(1.5);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
