@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.restaurant {
  background-color: $bg-grey;
  padding: 3.9rem 0;

  &__title {
    font-size: $fs-title;
    font-weight: $fw-bold;
    padding: 0 0 1.25rem 1.125rem;
  }

  &__list {
    @include flex-center($justify: null, $direction: column, $gap: 1.25rem);
  }

  &__link {
    display: block;
  }
}
