@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.main {
  &__img {
    margin-bottom: -55px;
    width: 100%;
    height: clamp(17.1875rem, calc(14.81rem + 10.14vw), 23.9375rem);
    object-fit: cover;

    @include respond-to($xl) {
      margin-bottom: -40px;
    }
  }

  &__img--center {
    object-position: center center;

    @include respond-to($md) {
      object-position: center 60%;
    }
  }
}

.menu {
  width: 100%;
  max-width: clamp(23.4375rem, calc(8.4728rem + 63.849vw), 65.9375rem);
  background-color: $bg-grey;
  padding: 2.5rem 0.8125rem;
  @include flex-column($gap: 2.5rem);
  border-radius: $radius-page;
  position: relative;
  z-index: 1;
  margin: 0 auto;

  @include respond-to($xl) {
    padding: 3.8rem 0.8125rem 2.5rem 0.8125rem;
    gap: 2.8rem;
  }

  &__content-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 319px;

    @include respond-to($md) {
      max-width: 307px;
      width: 100%;
      margin: 0 auto;
    }
  }

  &__title {
    font-family: $ff-shrikhand;
    font-size: $fs-menu-title;
    font-weight: $fw-regular;
  }

  &__heart {
    fill: none;
    stroke: #101010;
  }

  &__section {
    width: 100%;
    max-width: clamp(21.8125rem, calc(15.54rem + 26.76vw), 39.625rem);
    margin: 0 auto;
  }

  &__section-title {
    font-size: $fs-menu-section-title;
    font-weight: $fw-light;
    text-transform: uppercase;
    padding-bottom: 0.8125rem;
    position: relative;
    margin-bottom: 0.4375rem;
  }

  &__section-title::after {
    content: "";
    width: 40px;
    border-bottom: 3px solid $color-tertiary;
    position: absolute;
    bottom: 5px;
    left: 0;
  }

  &__list {
    @include flex-column($gap: 0.75rem);
  }

  &__button {
    padding-top: 2.5rem;
    display: flex;
    justify-content: center;
  }
}
