@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.restaurant {
  background-color: $bg-grey;
  padding: 3.9rem 1.1rem;

  &__title {
    font-size: $fs-title;
    font-weight: $fw-bold;
    padding-bottom: 1.25rem;
  }

  &__list {
    max-width: 385px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
    margin: 0 auto;
  }

  &__link {
    display: block;
  }
}
